<div class="jumbotron jumbotron-fluid animated fadeIn fast">

  <div class="container">
      <h1 class="display-4">Fullstack Home Project</h1>
      <p class="lead">This is an app to collecting customer reviews from public amazon product pages.</p>
  </div>
</div>
<div class="container form-group" style="margin: 10px;">
  <div class="input-group">
      <input #asinInput type="text" placeholder="Insert an ANSI" class="form-control">
      <button (click)="productReview.findAllReviews(asinInput.value)" class="btn btn-primary mb-2">Find Reviews</button>
  </div>
</div>
<hr>
<app-product-review #productReview></app-product-review>